/*background-image: url();
background-size: cover;
background-size: contain (50%); */

body {
	font-family: arial, sans-serif;
	color: #c2c2c2;
	background-color: #F1F1F1;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 100%;
	margin:0;
	margin-top:40px;
}

main {
	box-sizing: border-box;
	width: 80%;
	margin: auto;
	padding-top: 10px;
}

input {
	margin:0 auto;
	margin-left: 40px;
	box-sizing: border-box;
	height: 100px;
	width: 70%;
	font-size: 5.5em;
	font-weight: 700;
	border:0;
	background-color: #F1F1F1;
	color: #c2c2c2;
	padding-right: 60px;
	color:#ec5a62;
}

button{
	background: transparent url(../images/magnifier.svg);
	background-repeat:no-repeat;
	box-sizing: border-box;
	display: inline-block;
	width: 80px;
	height: 80px;
	overflow:hidden;
	right: 0;
	padding: 0; 
 	border: 10px solid transparent;
}

button:hover {
	width:100px;
	height: 100px;
	border: 0px;
}

ul li {
	list-style:none;
}

h3 {
	padding-left: 20%;
	font-size: 1.2em;
	margin: 0;
}

.linkblock a {
	display: inline-block;
	color: #c2c2c2;
	width: 100%;
	height: 100%;
} 

.picture {
	box-sizing: content-box;
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0;
	border-radius: 100%;
	padding-left: 5px;
	background-size: contain;
	overflow: hidden;
}


.column {
	box-sizing: border-box;
	display: inline-block;
	padding-top: 5px;
	width:33%;
	font-size: 1.2em;
}

.linkblock {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	/*height: 60px;*/
	background-color: rgba(118,117,128,0.05);
	border-radius: 5px;
	margin-top: 2%;
}

a:hover{
	background-color: rgba(118,117,128,0.1);
	color: #ec5a62;
}

.name {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding-right: 0px;
	padding-top: 2%;
	width: calc(100% - 80px);
	font-weight: 600;
	font-size: 0.7em;
	word-wrap: break-word;
}


